absl-py==1.0.0
aiohttp==3.7.4
aiosignal==1.2.0
alabaster==0.7.12
algopy==0.5.7
altair==4.2.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
applaunchservices==0.2.1
appnope @ file:///opt/concourse/worker/volumes/live/0291c9e1-4b15-459f-623e-2770f55be269/volume/appnope_1594338395037/work
appscript @ file:///opt/concourse/worker/volumes/live/50ca4c96-3090-40bb-6981-3a6114ed0af4/volume/appscript_1594840187551/work
arch==5.2.0
argh==0.26.2
asn1crypto @ file:///opt/concourse/worker/volumes/live/29c500db-6cdf-4cc7-7df8-fca74d6f0b64/volume/asn1crypto_1594339172552/work
astroid @ file:///opt/concourse/worker/volumes/live/21fd14a9-2a7e-484b-7394-5a9912cdcf80/volume/astroid_1592498459180/work
astropy==4.0.1.post1
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.4.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bitarray @ file:///opt/concourse/worker/volumes/live/9034c98d-f3e3-4444-48f0-092269ed9919/volume/bitarray_1594753940633/work
bkcharts==0.2
bleach==3.1.5
blinker==1.5
bokeh @ file:///opt/concourse/worker/volumes/live/eb4a1f42-db74-4fc3-7f34-0189ef49c1a1/volume/bokeh_1593187606262/work
boto==2.49.0
Bottleneck==1.3.4
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.2
category-encoders==1.3.0
certifi==2021.10.8
cffi==1.14.0
chardet==5.0.0
charset-normalizer==2.0.12
chart-studio==1.1.0
click==8.1.3
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
colorama==0.4.3
colorclass==2.2.2
colorlover==0.3.0
commonmark==0.9.1
compressed-rtf==1.0.6
conda==4.13.0
conda-build==3.18.11
conda-package-handling @ file:///opt/concourse/worker/volumes/live/8e46ff7c-1b09-4c05-6412-71394fdb1938/volume/conda-package-handling_1649105798380/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cornac==1.14.2
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.3
currentsapi==0.0.2
cycler==0.11.0
Cython @ file:///opt/concourse/worker/volumes/live/6158b663-a4ca-4e19-7e05-8807e4f79146/volume/cython_1594835048880/work
cytoolz==0.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
dataframe-image==0.1.1
decorator==4.4.2
defusedxml==0.6.0
delayed==0.11.0b1
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib==0.3.2
distributed @ file:///opt/concourse/worker/volumes/live/ec098701-cad7-4317-4576-0365c5f66992/volume/distributed_1594350140096/work
distro==1.7.0
dm-tree==0.1.7
dmba==0.0.18
docutils==0.16
docx==0.2.4
easygui==0.98.3
ebcdic==1.1.1
entrypoints==0.3
et-xmlfile==1.0.1
extract-msg==0.34.3
fake-useragent==0.1.11
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.6.0
flake8==3.8.3
Flask==1.1.2
flatbuffers==2.0
fonttools==4.33.3
fredapi==0.4.3
frozenlist==1.2.0
fsspec==0.7.4
full-fred==0.0.9a3
future==0.18.2
gast==0.5.3
geojson==2.5.0
getFamaFrenchFactors==0.0.5
gevent @ file:///opt/concourse/worker/volumes/live/78aec834-bbf0-47a7-799f-96dd2cf589ab/volume/gevent_1593009579767/work
gitdb==4.0.9
GitPython==3.1.27
glob2==0.7
gmpy2==2.0.8
google-api-core==1.31.2
google-api-python-client==2.6.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googlemaps==4.5.3
graphviz==0.16
greenlet==0.4.16
grpcio==1.44.0
h11==0.12.0
h5py==2.10.0
HeapDict==1.0.1
hiredis==2.0.0
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.12.3
httplib2==0.19.1
httpx==0.17.1
huggingface-hub==0.5.1
hypothesis==6.45.3
idna==3.3
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
IMAPClient==2.2.0
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==4.11.3
independentsoft.msg==1.6
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel @ file:///opt/concourse/worker/volumes/live/cb5649db-6f30-435c-6981-1014aa39f028/volume/ipykernel_1594755378873/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/41e43e2f-bbbe-4c76-44fb-a6de0e826dd8/volume/ipython_1593447396701/work
ipython_genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///opt/concourse/worker/volumes/live/1c5c293b-9147-4b4b-5a7f-d3f5eddb8470/volume/jedi_1592841952519/work
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.5
jsonschema @ file:///opt/concourse/worker/volumes/live/143dedb7-a810-4064-6e47-436d4dbcc943/volume/jsonschema_1594363611216/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring @ file:///opt/concourse/worker/volumes/live/f2a8edc0-64b5-40f0-5d81-bbd31149cbe1/volume/keyring_1593109772159/work
kiwisolver==1.4.2
lark-parser==0.12.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
libclang==14.0.1
lightfm==1.16
lightgbm==3.3.2
line-profiler==3.1.0
llvmlite==0.38.0
locket==0.2.0
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.6.1
memory-profiler==0.60.0
mistune @ file:///opt/concourse/worker/volumes/live/95802d64-d39c-491b-74ce-b9326880ca54/volume/mistune_1594373201816/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.2.1
msgpack==1.0.0
msoffcrypto-tool==5.0.0
multidict==5.2.0
multipledispatch==0.6.0
multitasking==0.0.9
mypy-extensions==0.4.3
navigator-updater==0.2.1
nb-conda-kernels @ file:///opt/concourse/worker/volumes/live/82c137e0-23e6-475b-7bb1-19e036b0f8ea/volume/nb_conda_kernels_1606775964383/work
nbconvert @ file:///opt/concourse/worker/volumes/live/70406b39-619d-477e-7507-0cc36a02f91a/volume/nbconvert_1594376816864/work
nbformat==5.0.7
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
newspaper3k==0.2.8
nltk==3.7
nose @ file:///opt/concourse/worker/volumes/live/a029938e-1732-4cd8-5b98-0542283d158b/volume/nose_1594377915100/work
notebook==6.0.3
notion-client==0.4.0
numba==0.55.1
numdifftools==0.9.40
numexpr==2.7.1
numpy==1.21.6
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.1
olefile==0.46
oletools==0.60.1
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandera==0.10.1
pandocfilters==1.4.2
parse==1.19.0
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2 @ file:///opt/concourse/worker/volumes/live/de518564-0d9f-405e-472b-38136f0c2169/volume/pathlib2_1594381084269/work
pathtools==0.1.2
patsy==0.5.2
pcodedmp==1.2.6
pep8==1.7.1
PerformanceAnalytics==0.14
pexpect @ file:///opt/concourse/worker/volumes/live/8701bb20-ad87-46c7-5108-30c178cf97e5/volume/pexpect_1594383388344/work
pgmpy==0.1.18
pickleshare @ file:///opt/concourse/worker/volumes/live/93ec39d8-05bb-4f84-7efc-98735bc39b70/volume/pickleshare_1594384101884/work
Pillow==9.1.0
pkginfo==1.5.0.1
platformdirs==2.2.0
plotly @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b7601a7c-071f-4424-ad46-f00f32c1766ccwgx0ywh/croots/recipe/plotly_1658160061089/work
pluggy==0.13.1
ply==3.11
powerlaw==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
property-cached==1.6.4
protobuf==3.17.3
psutil==5.9.0
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.5
pydantic==1.9.0
pydeck==0.7.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pydotplus==2.0.2
pyee==8.2.2
pyflakes==2.2.0
pyflux @ git+https://github.com/RJT1990/pyflux@297f2afc2095acd97c12e827dd500e8ea5da0c0f
Pygments==2.6.1
pylint @ file:///opt/concourse/worker/volumes/live/0a2a544e-806a-4267-74b2-a3f95578c3f2/volume/pylint_1592498630326/work
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyowm==3.2.0
pyparsing==2.4.2
pyppeteer==0.2.6
pyquery==1.4.3
pyrsistent==0.16.0
PySimpleGUI==4.39.1
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
pytest==5.4.3
python-dateutil==2.8.2
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///opt/concourse/worker/volumes/live/5f0313b4-ff69-4d9d-5c31-e01b223dabd6/volume/python-language-server_1594161914367/work
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pyxlsb==1.0.9
PyYAML==5.4.1
pyzmq==19.0.1
QDarkStyle==2.8.1
qrcode==6.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
readability==0.3.1
recommenders==1.1.0
redis==3.5.3
regex==2022.4.24
requests==2.28.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.5.0
rich==12.5.1
rise==5.7.1
rope==0.17.0
rsa==4.7.2
RTFDE==0.0.2
Rtree==0.9.4
ruamel_yaml==0.15.87
sacremoses==0.0.49
scikit-image==0.16.2
scikit-learn==1.0.2
scikit-surprise==1.1.1
scipy @ file:///opt/concourse/worker/volumes/live/7f5e51f8-abf3-4409-4c56-a4fb14cc9869/volume/scipy_1593104185999/work
seaborn==0.11.2
seaborn-qqplot==0.5.0
search-engine-parser==0.6.6
selenium==3.141.0
semver==2.13.0
Send2Trash==1.5.0
sgmllib3k==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sodapy==2.1.0
sortedcollections==1.2.1
sortedcontainers==2.4.0
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///opt/concourse/worker/volumes/live/0e97f897-b36b-4f78-7283-e99903208a48/volume/spyder_1594831780108/work
spyder-kernels @ file:///opt/concourse/worker/volumes/live/682c8d56-759f-49eb-7914-dbce4a625209/volume/spyder-kernels_1594751614984/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/45657106-f60d-42e1-6501-7d65be3b36ab/volume/sqlalchemy_1593446313078/work
statsmodels==0.13.2
streamlit==1.11.0
sympy @ file:///opt/concourse/worker/volumes/live/32ef3b19-6d5e-459b-54bf-1bfa312324b4/volume/sympy_1594236601710/work
tables==3.6.1
tabula-py==2.4.0
tabulate==0.8.9
tblib==1.6.0
tenacity @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_15d3bbab-3059-4048-adcb-986fb2669dd5nujdx5qd/croots/recipe/tenacity_1657899116644/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-probability==0.16.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tika==1.24
tinysegmenter==0.3
tldextract==3.1.2
tokenizers==0.12.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
torch==1.11.0
tornado==6.0.4
tqdm==4.64.0
traitlets==4.3.3
transformers==4.18.0
typing-inspect==0.7.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ujson==1.35
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.9
validators==0.20.0
virtualenv==20.7.2
w3lib==1.22.0
watchdog @ file:///opt/concourse/worker/volumes/live/cc0ee7bb-1065-44c4-5867-0fd5d13729e0/volume/watchdog_1593447373245/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==9.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.14.0
wurlitzer @ file:///opt/concourse/worker/volumes/live/01a17f3d-eafe-4806-57a1-4b9ef5d1815f/volume/wurlitzer_1594753845129/work
xlrd==2.0.1
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.7.2
yfinance==0.1.64
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
